@media (min-width: 320px) and (max-width: 374px) {
    .container {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        background-color: white !important;
    }
    .contactForm {
        width: 454px !important;
    }
    form input,
    textarea {
        border: solid 1px orange !important;
        padding: 15px !important;
        max-width: 400px !important;
        font-size: 18px !important;
    }
    .contact {
        height: 470px !important;
        width: 140% !important;
    }
    .contact .left {
        font-size: 22px !important;
    }
    .right button {
        max-width: 430px !important;
        font-size: 18px !important;
        padding: 15px !important;
    }
    body > div > div.contactForm > div > form > div:nth-child(1) {
        width: 100%;
    }
    body > div > div.contactForm > div > form > div:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .container {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        background-color: white !important;
    }
    .contactForm {
        width: 454px !important;
    }
    form input,
    textarea {
        border: solid 1px orange !important;
        padding: 15px !important;
        max-width: 400px !important;
        font-size: 18px !important;
    }
    .contact {
        height: 470px !important;
        width: 120% !important;
    }
    .contact .left {
        font-size: 22px !important;
    }
    .contactForm {
        justify-content: normal !important;
    }
    .right button {
        max-width: 430px !important;
        font-size: 18px !important;
        padding: 15px !important;
    }
    body > div > div.contactForm > div > form > div:nth-child(1) {
        width: 100%;
    }
    body > div > div.contactForm > div > form > div:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 425px) and (max-width: 479px) {
    .container {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        background-color: white !important;
    }
    .contactForm {
        width: 454px !important;
    }
    form input,
    textarea {
        border: solid 1px orange !important;
        padding: 15px !important;
        max-width: 400px !important;
        font-size: 18px !important;
    }
    .contact {
        height: 470px !important;
        width: 106% !important;
    }
    .contact .left {
        font-size: 22px !important;
    }
    .contactForm {
        justify-content: normal !important;
    }
    .right button {
        max-width: 430px !important;
        font-size: 18px !important;
        padding: 15px !important;
    }
    body > div > div.contactForm > div > form > div:nth-child(1) {
        width: 100%;
    }
    body > div > div.contactForm > div > form > div:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        background-color: white !important;
    }
    .contactForm {
        width: 454px !important;
    }
    form input,
    textarea {
        border: solid 1px orange !important;
        padding: 15px !important;
        max-width: 400px !important;
        font-size: 18px !important;
    }
    .contact {
        height: 470px !important;
        width: 106% !important;
    }
    .contact .left {
        font-size: 22px !important;
    }
    .contactForm {
        justify-content: normal !important;
    }
    .right button {
        max-width: 430px !important;
        font-size: 18px !important;
        padding: 15px !important;
    }
    body > div > div.contactForm > div > form > div:nth-child(1) {
        width: 100%;
    }
    body > div > div.contactForm > div > form > div:nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .container {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        background-color: white !important;
    }
    form input,
    textarea {
        border: solid 1px orange !important;
        padding: 15px !important;
        max-width: 130% !important;
        font-size: 18px !important;
    }
    .contact {
        height: 470px !important;
        width: 98% !important;
    }
    .contact .left {
        font-size: 22px !important;
    }
    .right button {
        width: 132% !important;
        max-width: 132% !important;
        font-size: 18px !important;
        padding: 15px !important;
    }
    .contactForm {
        justify-content: normal !important;
    }
    .right form input,
    textarea {
        width: 127% !important;
    }
    body > div > div.contactForm > div > form > div:nth-child(1) {
        width: 137%;
    }
    body > div > div.contactForm > div > form > div:nth-child(2) {
        width: 137%;
    }
}

.container {
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 820px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.contact {
    width: 430px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(255, 178, 62);
    position: relative;
    margin: 5px;
}

.contactForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .left {
    display: inline-block;
    margin: 10px;
}

.contactForm .right {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.socialMedia ul li {
    display: inline-block;
    margin-right: 20px;
}

.fa {
    font-size: 18px;
    color: whitesmoke;
}

.fa:hover {
    cursor: pointer;
}

.right form input,
textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 380px;
    border: 0px;
    font-size: 14px;
    resize: none;
}

.right button {
    margin: 10px;
    padding: 10px;
    max-width: 400px;
    border-radius: 5px;
    width: 100%;
    border: 0px;
    cursor: pointer;
    color: whitesmoke;
    background-color: orange;
    font-size: 14px;
}

.quarter-circle-bottom-right {
    width: 160px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('xy.png');
}

.right form input,
textarea:focus {
    outline-color: orange;
}
.quarter-circle-bottom-right {
    width: 120px;
     height: 120px;
     background: yellow;
     border-top: solid 15px orange;
     border-left: solid 15px orange;
     border-radius: 130px 0 10px 0;
     -moz-border-radius: 130px 0 10px 0;
     -webkit-border-radius: 130px 0 10px 0;
}